@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&family=Joan&family=Permanent+Marker);
/* CSS files add styling rules to your content */

body {
  margin: 2em;
  border: 5px double black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:antiquewhite;
}

h1 {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: black;
  color:white;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: bold;
}

p {
  width: 350px;
  font-family:'Joon';
  text-align: center;
}

img {
  height: 300px;
}

button {
  border: 2px solid black;
  border-radius: 3px;
  padding: 8px;
  font-size: 100%;
  font-family:'Joon', serif;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: #fff;
}